*
{

    margin: 0; 
    font-size: 18px;
    line-height: 1.75;
}
.header
{
    background-image: url(img/g3.jpg);
    height: 130px;
    font-family: 'Segoe UI', Tahoma;
    font-weight: 900;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-feature-settings: "fina";
    display: flex;
    text-align: center;
    padding-top: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color:  rgb(90, 255, 98);
}
.logobanner
{
    margin-left: 2%;
    height: 100px;
    border-radius: 30%;
    opacity: 50%;
}
h1
{
    font-size: 28px;
    padding-left: 35%;
}
.navbar
{
    background-color: rgb(195, 195, 195);
    min-height: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
li
{
    display: inline;
    padding:5px;
    height: auto;
}
.nav_btn
{
    padding:10px;
    justify-content: center;
    background-color: rgb(195, 195, 195);
    border: 2px solid;
    border: unset;
    cursor: pointer;
}
.nav_btn:hover
{
    scale: 105%;
    border-radius: 20%;
    border: 1px solid rgba(139, 133, 133, 0.596);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
img
{
    object-fit: cover;
    
}
.main
{
    width: vw;
    height: vh;
    background-image: Url(img/g2.jpg);
    justify-content: center;
    align-items: center;
}
.content
{
    font-family: sans-serif;
    font-size: 18px;
    font-style: oblique 20deg 50deg;
    min-width: 180px;
    background-image: Url(g2.jpg);
    padding: 5% 15%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}
.login_form{
    height: 500px;
    width: 430px;
    justify-content: center;
    padding: 8% 10%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
h2{
    font-size: 28px;
    text-shadow: 2px 1px 2px rgba(2, 128, 15, 0.8);
}
.f_elements{
    margin-top: 5PX;
}
.my_login_form
{
    width: 400px;
    height: 400px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.my_login_form:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, 
                rgba(0, 0, 0, 0.07) 0px 2px 4px, 
                rgba(0, 0, 0, 0.07) 0px 4px 8px, 
                rgba(0, 0, 0, 0.07) 0px 8px 16px, 
                rgba(0, 0, 0, 0.07) 0px 16px 32px, 
                rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.L_details{
    display: flex;
    margin-left: 38%;
}
.f_content{
    margin-left: 5px;
}
input
{
    padding:5px;
    text-indent: 10px;

}
span{
    color:red;
}
.value:hover{
    border-color: rgb(0, 0, 0);
    border-color: grey;
}
.iemail{
    margin-top: 20px;
}
.ipassword{
    margin-top: 20px;
}
.m_quary
{
    margin-right: 100px;
    margin-top: 5px;
    text-align-last: left;
}
.quary
{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;

}
.value
{
    width: 95%;
    margin-top: 10px;

}
.submit
{
    width: 98%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.submit:hover{
    color: green;
    background-color: white;
    cursor: pointer;
}
/**/
.S_btn
{
    margin: 15px 10px;
    padding: 5px;
    width: 100%;
    padding:  00px;
}
.f_Sign_up{
    padding-top: 15px;
    align-items: start;
}